/* 17. CSS 적용 방법 https://www.yalco.kr/@html-css/2-1/ */
/* [1] 기본 & 그룹 선택자 */


/* 모든 요소 선택 */
* {
  font-weight: regular;
  color: darkorange;
}

/* 같은 선택자의 경우 뒤에 오는 것이 우선순위 높음 */
* {
  color: #051766;
}

/* 태그 선택자 */
p {
  color: #374585;
}

/* class 선택자 .(온점)을 붙임 /
/* 태그보다 우선순위 높음 */
/* 페이지상의 여러 요소가 같은 class를 가질 수 있음 */
.blue {
  color: lightblue;
}

/* 다른 선택자에 이어붙일 수 있음(태그, 클래스 등...) */
/* 선택자는 구체적일수록 우선순위 높음 */
p.blue {
  color: slateblue;
}

.blue.dark {
  color: mediumblue;
}

p.blue.dark {
  color: darkblue;
}

/* id 선택자 */
/* class보다 우선순위 높음 */
/* id는 페이지상에서 요소마다 고유해야 함 */
#red {
  color: tomato;
}

/* 그룹 선택자 */
span, .dark, #red {
  text-decoration: underline;
}


/* [2] 결합자와 가상 클래스 */


/* 1) 결합자 모음 */
/* 자손 결합자 */
.outer li {
	color: olivedrab;
}

/* 자식(1촌 자손) 결합자 */
.outer > li {
	color: dodgerblue;
}

.outer > li li {
	text-decoration: underline;
}

/* 뒤따르는 모든 동생들 결합자 */
.starter ~ li {
	font-style: italic;
}

/* 뒤따르는 바로 다음 동생 결합자 */
.starter + li {
	font-weight: bold;
}


/* 2) 가상 클래스 모음 */
/* 첫 번째, 마지막 요소 가상 클래스 */
ol li:first-child,
ol li:last-child {
	color: yellowgreen;
}

/* ~가 아닌 요소 가상 클래스 */
.outer > li:not(:last-child) {
	text-decoration: line-through;
}

ul:not(.outer) li {
	font-weight: bold;
}

/* ~번째 요소 가상 클래스 */
/* #, #n, #n+#, odd, even 등 시도해보기 */

/* 자식들 중 5번째 : n */
ol li:nth-child(5) {
	font-weight: bold;
	color: deeppink;
}

/* 3번째 마다 : 3n */
ol li:nth-child(3n) {
	font-weight: bold;
	color: #37ff00;
}

/* 홀수 : odd */
ol li:nth-child(odd) {
	font-weight: bold;
	color: #ff00e6;
}

/* 짝수 : even */
ol li:nth-child(even) {
	font-weight: bold;
	color: #597aff;
}

/* 마우스오버 가상 클래스 */
li:hover {
	font-weight: bold;
	color: slateblue;
}

li:hover,
ol li:nth-child(even):hover {
	font-weight: bold;
	color: slateblue;
}

li:hover,
ol li:nth-child(odd):hover {
	font-weight: bold;
	color: slateblue;
}




/* 18. 글자와 텍스트 스타일 https://www.yalco.kr/@html-css/2-2/ */


/* 1) font style & font weight */
/* font-style 속성은 글자를 기울일 때 사용할 수 있습니다.

italic과 oblique은 얼핏 보면 비슷한데
italic이 '기울여서 쓴' 서체라면
oblique는 본래 서체를 기울여놓은 것입니다.

서체마다 둘 다 있거나 한 쪽만 있거나 둘 다 없을 수도 있는데
이들은 한쪽이 없을 시 상호 교차되어 사용됩니다. */


/* font-weight 속성은 글자의 굵기를 조절합니다.

서체가 어떤 굵기를 지원하느냐에 따라 normal과 bold중에 선택하거나
100~900 사이 100 단위의 수치를 사용합니다. */

.style-weight {
  /* normal, italic, oblique */
  font-style: normal;

  /* normal, bold, 100~900 */
  font-weight: bold;
}


/* 2) font size & text-decoration */
/* font-size 속성은 말 그대로 글자의 크기를 지정합니다.
단위로는 px과 %, em, rem이 사용되죠.

px는 절대값으로서 픽셀 단위입니다.
100%는 1em으로, 이들은 부모 요소와의 상대적 크기를 나타내죠.
rem은 html 요소와의 상대적 크기를 가지므로, 요소의 중첩에 영향을 받지 않습니다.
pt는 1인치/72로, 프린트할 컨텐츠에 사용됩니다. */

html { font-size: 14px; }
div.middle { font-size: 2rem; } 
div.inner { font-size: 2rem; } 

/* text-decoration 속성은 밑줄, 취소선, 물결선 등으로
글을 꾸며주는데 사용됩니다.

여러 꾸밈요소를 함께 사용할 수 있으며
선의 형태, 색, 굵기 등 디테일을 지정할 수도 있습니다.

아래 링크에서 상세 내용과 구성 속성들을 확인하세요.
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/text-decoration

text-transform 속성은 알파벳의 대소문자 표시에 사용됩니다.
HTML, CSS와 같이 대문자로 작성된 텍스트는 capitalize에 영향을 받지 않습니다. */


.decoration {
  text-decoration: wavy overline #b2b2ff 2px;

  /* capitalize, uppercase, lowercase */
  text-transform: lowercase;
}


/* 3) text-shadow */
/* text-shadow를 사용하면 텍스트에 그림자를 줄 수 있습니다.

'x좌표, y좌표, 흐림(선택), 색' 형식으로 그림자를 넣을 수 있고
쉼표로 구분해서 여럿을 넣을 수도 있습니다.

크롬 계열 브라우저의 개발자 도구를 사용하면 손쉽게 값을 조정할 수 있죠. */

.shadow {
  text-shadow:
    /* 안쪽 흰색 그림자 */
    1px 0 white, -1px 0 white, 0 1px white, 0 -1px white, 
    1px 1px white, 1px -1px white, -1px 1px white, -1px -1px white,

    /* 바깥쪽 미국자두색 그림자 */
    2px 0 plum, -2px 0 plum, 0 2px plum, 0 -2px plum,
    2px 1px plum, -2px 1px plum, 1px 2px plum, 1px -2px plum,
    2px -1px plum, -2px -1px plum, -1px 2px plum, -1px -2px plum,
    2px 2px plum, 2px -2px plum, -2px 2px plum, -2px -2px plum;
}




/* 19. 문단과 목록 스타일 https://www.yalco.kr/@html-css/2-3/ */

/* 1) 정렬과 간격 */
.align {
  /* left, center, right, justify */
  text-align: left;

  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1.5em;
}


/* 2) 들여쓰기 */
.align { text-indent: 0.8em; }


/* 3) 리스트의 표현 */
ul {
  list-style: circle;
}

/* li별로 지정하는 것도 가능 */
.list-emoji ul > li:first-child {
  list-style: url(https://showcases.yalco.kr/html-css/02-03/yalco.png) 
}

.icon-star > li:first-child {
  list-style: "⭐️ "
}

ol {
  list-style: lower-alpha;
}




/* 20. 색 표현하기 https://www.yalco.kr/@html-css/2-4/ */
/* 
- keyword는 색상마다 부여된 이름으로 이 링크에서 목록을 확인할 수 있습니다.

- RGB(A)는 빨강, 초록, 파랑의 광원으로 색을 혼합하는 방식이며
끝에 알파값을 붙여서 투명도를 조절할 수 있죠.

- HEX는 R, G, B, Alpha 값들을 16진수형태로 나타낸 것입니다.

- HSL(A)은 색상, 채도, 명도값 그리고 알파값을 조합하여 색을 나타냅니다. */

.clr-picker {
  /* 글자색 */
  color: #333333;

  /* 배경색 */
  background-color: #f7f7f7;
}




/* 21. 인라인 요소와 블럭 요소 https://www.yalco.kr/@html-css/2-5/ */

/* 
block 요소는 딱딱한 상자와도 같습니다.
상자처럼 사각형의 형태를 갖고 있으며 너비와 높이, 안팎의 간격을 부여받을 수 있죠.

inline 요소는 비닐이나 랩 안에 내용물을 넣은 것과도 같습니다. 이 텍스트처럼, 일정한 바깥 형태나 껍데기 없이 페이지의 흐름에 따라 다른 텍스트나 컨텐츠와 어우러져 배치되죠. 위의 노란 부분이 인라인 요소입니다.

inline-block은 상자 안에 글자를 넣었지만 옆에 공간이 있다면 다른 친구들이 올 수 있는 박스입니다. */


/* display 속성을 추가해서 */
/* 이 목록을 상단바 메뉴 모습으로 바꿔보세요! */
.gnb > li {
  margin-right: 2em;
  display: inline;
  padding: 8px;
}

p.pororo {
  margin: 8px;
  display: inline-block;
  /* display: */
}




/* 22. 박스 모델 1 https://www.yalco.kr/@html-css/2-6/ */

/* padding을 왼쪽에만 주고 싶을 때 : padding-left */
p.special {
  background-color: lightblue;
  margin: 24px;
  padding: 24px;
}

p.special {
  margin-top: 48px;
  /* margin-bottom: */
  /* margin-left: */
  /* margin-right: */

  /* padding-top */
  /* padding-bottom */
  /* padding-left */
  /* padding-right */
}

body {
  text-align: left;
}
div.div-test {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: pink;
  /* margin: 0 auto; */
}




/* 23. 박스 모델 2 https://www.yalco.kr/@html-css/2-7/ */

.box-model-2 > li:not(:last-child) {
  border-bottom: 1px solid black;
}
.box-model-2 > li {
  border-bottom: 1px solid #051766;
}
.box-model-2 > li:last-child {
  border-bottom: 0;
}

div.box-model-3 {
  width: 200px;
  height: 200px;
  border: 5px solid blue;
  border-radius: 12px;
}

div.box-model-4 {
  margin: 24px auto;
  width: 240px;
  height: 160px;
  border-radius: 24px;
  box-shadow: 4px 4px 20px 4px #a7a7a720;
}




/* 24. 배경 꾸미기 https://www.yalco.kr/@html-css/2-8/  */

.outer {
  width: 200px; height: 200px;
  background-color: #eee;
  border-radius: 20px;
  overflow: hidden;
}
.with-bg {
  height: 100%;
  background-image: url(https://www.koreanair.com/wwwupload/maincontents/quickbooking/main-bg-img-motif-ta.jpg );
  background-size: cover;
  background-position: center;
}

div.gradient {
  width: 200px; height: 200px;
  background: 
    linear-gradient(217deg, red, transparent 90%),
    linear-gradient(127deg, lime, transparent 90%),
    linear-gradient(336deg, blue, transparent 90%);
}




/* 25. 포지셔닝 https://www.yalco.kr/@html-css/2-9/  */

/* static은 기본값으로, 전적으로 페이지의 흐름을 따르며
top, bottom, left, right, z-index 속성의 영향을 받지 않습니다.

relative 값은 원래 위치를 기준으로 top~right 속성값이 적용되도록 합니다.
요소의 위치는 이동하지만 요소가 차지하는 공백의 위치는 유지됩니다.

absolute 값은 static이 아닌 첫 부모 요소를 기준으로
top~right을 사용하여 위치를 조정할 수 있습니다.
요소는 페이지의 문서 흐름에서 벗어나, 자리를 차지하지 않게 됩니다.
(위의 바깥쪽 div는 포지션이 relative로 되어 있습니다.)

fixed는 부모 요소가 아닌 viewport를 기준으로 위치를 지정합니다.
스크롤에 영향을 받지 않으므로, 다이얼로그 팝업처럼 움직이지 않는
요소들에 유용하게 사용될 수 있습니다.

sticky는 요소가 스크롤로 이동할 수 있는 공간을 top~right 속성으로
제한할 수 있습니다. */

body { margin: 0; }
div.positoning {
  width: 300px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: skyblue;
  position: fixed;
  top: calc(50% - 40px);
  left: calc(50% - 150px);
}




/* 26. 요소들을 감추는 방법 https://www.yalco.kr/@html-css/2-10/  */

/* JS를 활용해서 사용자의 조건에 따라서 보이고, 감추는 기능이 필요할 때 활용하기 위함 */

div.hide {
  padding: 24px;
  background-color: skyblue;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  display: none;
}



