@font-face {
  font-family: "MyNotoSans";
  src: url(./fonts/NotoSansKR-Regular.ttf);
}

@font-face {
  font-family: "MyNotoSans";
  font-weight: 100;
  src: url(./fonts/NotoSansKR-Thin.ttf);
}

@font-face {
  font-family: "MyNotoSans";
  font-weight: 300;
  src: url(./fonts/NotoSansKR-Light.ttf);
}

@font-face {
  font-family: "MyNotoSans";
  font-weight: 500;
  src: url(./fonts/NotoSansKR-Medium.ttf);
}

@font-face {
  font-family: "MyNotoSans";
  font-weight: 700;
  src: url(./fonts/NotoSansKR-Bold.ttf);
}

@font-face {
  font-family: "MyNotoSans";
  font-weight: 900;
  src: url(./fonts/NotoSansKR-Black.ttf);
}